.entete {

    /* height: 100px; */

}

.femme {
    height: 30px;
    border-radius: 100%;

}

.logotel {

    height: 30px;

}

.points {

    height: 20px;
}

.cam {

    height: 20px;

}
/* ENTETE FIN */

